# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
/aws.xml
/markdown.xml
/microservices-demo.iml
/modules.xml
/inspectionProfiles/Project_Default.xml
/protoeditor.xml
/sqldialects.xml
/vcs.xml
